<div class="container py-4">

  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h1 class="fw-bold">Tableau de Bord</h1>
      <p class="text-muted">
        Consultez et gérez les signalements de votre secteur.
      </p>
    </div>

    <button routerLink="signalement/creer" class="btn btn-primary btn-lg">
      + Nouveau Signalement
    </button>
  </div>

  <!-- Recherche + Filtres -->
  <div class="row mb-4 g-3">

    <div class="col-md-7">
      <input
        type="text"
        class="form-control"
        placeholder="Rechercher par mot-clé, rue ou catégorie..."
      >
    </div>

    <div class="col-md-5">
      <div class="btn-group w-100">
        <button class="btn btn-outline-secondary active">Tout</button>
        <button class="btn btn-outline-secondary">Voirie</button>
        <button class="btn btn-outline-secondary">Éclairage</button>
        <button class="btn btn-outline-secondary">Déchets</button>
        <button class="btn btn-outline-secondary">Sécurité</button>
      </div>
    </div>

  </div>

  <!-- Liste des incidents -->
  <div class="row g-4">

    @for (signalement of listeSignalement; track signalement.id) {
        <div class="col-md-4">
            <app-carte-signalement [signalement]="signalement" />
        </div>
    }@empty {
        <div class="col-12">
            <div class="alert alert-info text-center">
                Aucun signalement trouvé.
            </div>
        </div>
    }

  </div>

</div>