<div
  class="card h-100 border-start border-4 shadow-sm">

  @if (signalement.image) {
    <img [src]="signalement.image" class="card-img-top h-50" alt="Photo du signalement">
  } @else {
    <img src="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg" class="card-img-top h-50" alt="Photo du signalement">
  }

  <div class="card-body pb-0">

    <div class="d-flex justify-content-between align-items-center mb-2">
      <span class="badge rounded-2" [ngClass]="getCategorieClass()">
        {{ signalement.categorie }}
      </span>

      <small class="text-muted">
        <i class="fa-solid fa-calendar"></i>
        {{ signalement.date }}
      </small>
    </div>

    <h5 class="card-title mb-1">
      {{ signalement.titre }}
    </h5>

    <p class="text-muted small mb-2 d-flex align-items-center gap-1">
      <i class="fa-solid fa-location-dot"></i>
      {{ signalement.localisation }}
    </p>

    <p class="card-text text-secondary small">
      {{ signalement.description | slice:0:50}}
    </p>

  </div>

  <div class="card-footer bg-white border-top-0 d-flex justify-content-between align-items-center">

    <span class="text-danger d-flex align-items-center gap-1">
      <i class="fa-solid fa-heart"></i>
      {{ signalement.votes }}
    </span>

    <div class="d-flex gap-2">
      <button [routerLink]="['/signalement/detail/', signalement.id]" class="btn btn-outline-dark btn-sm">
        Détails
      </button>

      <button (click)="onClicSoutenir()" class="btn btn-primary btn-sm">
        Soutenir
      </button>
    </div>

  </div>

</div>
